.contact{

  &__top{

    .office-form-form-title {
      display: none!important;
    }
    
    .office-form-footer-container {
      display: none!important;
    }
    
    .office-form-notice-password {
      display: none!important;
    }
  }

 
}